body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}
.julie{
    background-color: aqua;
    width: 25%;
    height: 100%;
    padding: 10px;
}
.mark{
    background-color: blanchedalmond;
    height: 100%;
    width: 25%;
}
.suzie{
    background-color: brown;
    height: 100%;
    width: 25%;
}
.stef{
    background-color: aliceblue;
    height: 100%;
    width: 25%;
}
.julie li{
    background-color: bisque;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type:square ;
    list-style-position: outside;
    list-style-type: "\1F44D";
}
.julie li:hover{
    background-color: brown;
    color: aqua;
    list-style-type: "\274C";
}
.nav{
    position: sticky;
    top:0px;
    display: flex;
}
.nav ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    width: 100%;
    background-color: aquamarine;
    border: 3px solid rgb(88, 88, 204);
    text-align: center;
    overflow: hidden;
}
.nav a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    float: left;
}
.nav a:hover{
    background-color: aliceblue;
    color: black;
}
.block5{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: brown;
}
.btn1{
    width: 100px;
    height: 100px;
    background-color: bisque;
    color: brown;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    border: 2px red;
    border-radius: 10px;
}
.btn1:hover{
    background-color: aliceblue;
    color: black;
}
.btn1:active{
    background-color: aquamarine;
    color: blueviolet;
}
form{
    width: 300px;
    float: left;
    display: flex;
}
input{
    padding: 10px 20px;  
    font-size: 20px;
    border: 2px;
  }
  .search{
      width: 100%;
  }
  .button{
      background-color: azure;
      color: black;
  }
  .button:hover{
  background-color: rgb(80, 83, 83);
  color: aliceblue;
  cursor: pointer;
   }
   .img_button{
      height: 2em;
      position: relative;
  }
  .img_button:hover{
      cursor: pointer;
  }